en_us,
zh_cn,
zh_tw {
    display: inline;
}

button {
    cursor: pointer;
}

html[lang='en_us'] zh_cn,
html[lang='en_us'] zh_tw,
html[lang='en_us'] button[onclick="setLang('en_us')"] {
    display: none;
}

html[lang='zh_cn'] en_us,
html[lang='zh_cn'] zh_tw,
html[lang='zh_cn'] button[onclick="setLang('zh_cn')"] {
    display: none;
}

html[lang='zh_tw'] en_us,
html[lang='zh_tw'] zh_cn,
html[lang='zh_tw'] button[onclick="setLang('zh_tw')"] {
    display: none;
}

html[lang='en_us'] button[onclick="setLang('zh_cn')"] en_us,
html[lang='en_us'] button[onclick="setLang('zh_tw')"] en_us,
html[lang='zh_cn'] button[onclick="setLang('en_us')"] zh_cn,
html[lang='zh_cn'] button[onclick="setLang('zh_tw')"] zh_cn,
html[lang='zh_tw'] button[onclick="setLang('en_us')"] zh_tw,
html[lang='zh_tw'] button[onclick="setLang('zh_cn')"] zh_tw {
    display: none;
}

html[lang='en_us'] button[onclick="setLang('zh_cn')"] zh_cn,
html[lang='en_us'] button[onclick="setLang('zh_tw')"] zh_tw {
    display: inline;
}

html[lang='zh_cn'] button[onclick="setLang('en_us')"] en_us,
html[lang='zh_cn'] button[onclick="setLang('zh_tw')"] zh_tw {
    display: inline;
}

html[lang='zh_tw'] button[onclick="setLang('en_us')"] en_us,
html[lang='zh_tw'] button[onclick="setLang('zh_cn')"] zh_cn {
    display: inline;
}